.heading{
margin-left: 150px;
margin-top: 30px;
}
.main{
	margin-top: 20px;
}
.banner{
height: auto; 
margin-top:50px;
margin-left:100px;
width: 100%;	
}
.row{
	margin: 30px;
}
.footer{
	background-color:pink;
	 text-align: center;
	 flex-direction: row;
}
.col-md-4{
background-color: lightgreen;

}
.text{
	text-align: center;
	 color: whitesmoke;
margin: 10px 100px 10px ; 
background-image: url('images/photo-1432821596592-e2c18b78144f.jfif');
}
.loginform{
	text-align: center; 
margin: 10px 100px 10px ; 
 background-image: url('images/login%201.jpg');
}

.contact{
text-align: center;
margin: 10px 100px 10px ; 
 background-image: url('images/contact%20image.jpg');"

}






@media (max-width: 500px){

.banner-box{
	width: 100%;
}

.heading{
    width: 100%;
    margin: 0;
    margin-top: 20px;
}

.banner{
    width: 100%;
    margin: 0px;
}
.container{
	flex direction: column;
}
.row{
	flex-direction: column;
	    margin-top: 10px;
}
    .g-0,  {
    --bs-gutter-y: 0;
    width: fit-content;
}
.col-4 {
    flex: 0 0 auto;
    width: 100%;
}
.footer{
	flex-direction: column;
	text-align: center;
	margin: 0px;
}
.text{
	width: 100%;
	margin: 0px;


}
.r5{
	float: center;
}
.loginform{
	width: 100%;
	margin: 0px;
	margin-bottom:5px ;
}
.contact{
	width: 100%;
	margin: 0px;
	margin-bottom: 5px;
}
}